{% extends "basic.html" %}

{% block title %}<title>Профиль</title>{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h2>Профиль {{user.username}}</h2>
    <img class="img" src="{{user.photo.url}}">
    <h3>Заказаные товары:</h3>
    {% if orders %}
      {% for order in orders %}
        <p>Название: {{order.product.name}}</p>
        <p>Описание: {{order.product.description}}</p>
        <img style="max-width:100px; max-height:100px;"
                src="/images/{{order.product.image}}">
        {% if not forloop.last %}<p>--------------------------------------------------------------------------------</p>{% endif %}
      {% endfor %}
    {% else %}
      <p>Пока нету заказов!</p>
    {% endif %}
  {% else %}
    <p>Вы не вошли в свой аккаунт!</p>
  {% endif %}

{% endblock %}