{% extends "basic.html" %}

{% block title %}<title>Товары/услуги</title>{% endblock %}

{% block content %}
    <h1>Товары/услуги</h1>
    {% for product in products %}
        <div>
            <img style="max-width:100px; max-height:100px;"
                src="{{ product.image.url }}">
            <p>Название: {{product.name}}</p>
            <p>Описание: {{product.description}}</p>
            <p><a href="{% url 'main:service' product.id %}">Cтраница товара/услуги</a></p>
        </div>
        {% if not forloop.last %}<p>-----------------------------------------------------------</p>{% endif %}
    {% endfor %}
{% endblock %}